<a href="https://colab.research.google.com/github/projjal1/Movie-Recommender-System-/blob/main/Movie_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working on Movie Recommender System Task.

Dataset taken from https://www.kaggle.com/rounakbanik/the-movies-dataset?select=movies_metadata.csv

In [1]:
#Loading the modules
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import difflib

In [2]:
#Set dataset path
DATASET_PATH="https://raw.githubusercontent.com/shubham1710/Movie-Recommendation-System/master/moviedata.csv"

In [3]:
#Load dataset 
movie = pd.read_csv(DATASET_PATH)

In [4]:
#Let's look at few rows
movie.head(4)

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan

[4 rows x 24 columns]

In [5]:
#Lets look at null columns numbers
movie.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [6]:
#Fill Null Attribute Columns
features = ['keywords','cast','genres','director','tagline']
for feature in features:
    movie[feature] = movie[feature].fillna('')

In [7]:
#Let's now look at null columns number
movie.isnull().sum()

index                      0
budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                    0
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
director                   0
dtype: int64

In [9]:
#Combination of features 
def combine_features(row):
    try:
        return row['keywords'] +" "+row['cast']+" "+row['genres']+" "+row['director']+" "+row['tagline']
    except:
        print ("Error:", row)

movie["combined_features"] = movie.apply(combine_features,axis=1)

In [11]:
#Look at dataset
movie.head(4)

   index  ...                                  combined_features
0      0  ...  culture clash future space war space colony so...
1      1  ...  ocean drug abuse exotic island east india trad...
2      2  ...  spy based on novel secret agent sequel mi6 Dan...
3      3  ...  dc comics crime fighter terrorist secret ident...

[4 rows x 25 columns]

In [12]:
#Creating API calls to extract features
def title_from_index(index):
    return movie[movie.index == index]["title"].values[0]

def index_from_title(title):
    title_list = movie['title'].tolist()
    common = difflib.get_close_matches(title, title_list, 1)
    titlesim = common[0]
    return movie[movie.title == titlesim]["index"].values[0]

In [13]:
#Using CountVectorizer to find similarity measures
cv = CountVectorizer()
count_matrix = cv.fit_transform(movie["combined_features"])
cosine_sim = cosine_similarity(count_matrix) 

user_movie = input("Enter movie of your choice:\t")
movie_index = index_from_title(user_movie)

similar_movies =  list(enumerate(cosine_sim[movie_index]))
similar_movies_sorted = sorted(similar_movies,key=lambda x:x[1],reverse=True)
i=0
print("\nOther movies you might be interested in:-\n")
for rec_movie in similar_movies_sorted:
        if(i!=0):
            print (i,") ",title_from_index(rec_movie[0]),sep="")
        i=i+1
        if i>50:
            break

Enter movie of your choice:	Avatar

Other movies you might be interested in:-

1) Guardians of the Galaxy
2) Aliens
3) Star Wars: Clone Wars: Volume 1
4) Alien
5) Star Trek Beyond
6) Star Trek Into Darkness
7) The League of Extraordinary Gentlemen
8) Moonraker
9) Star Trek
10) Superman Returns
11) Terminator Genisys
12) Men in Black
13) Lockout
14) Space Cowboys
15) AVP: Alien vs. Predator
16) Alien³
17) Star Trek II: The Wrath of Khan
18) The Helix... Loaded
19) Galaxy Quest
20) The Empire Strikes Back
21) Jason X
22) Superman II
23) Conquest of the Planet of the Apes
24) Terminator Salvation
25) Allegiant
26) The Terminator
27) Titan A.E.
28) Pirates of the Caribbean: At World's End
29) X-Men: Days of Future Past
30) Without a Paddle
31) Return of the Jedi
32) Mad Max
33) The One
34) Men in Black II
35) Zathura: A Space Adventure
36) Letters from Iwo Jima
37) Trekkies
38) Gravity
39) Children of Men
40) Supernova
41) Sunshine
42) Superman III
43) The Iron Giant
44) Lifeforce
45) Jupiter Ascending
46) Cargo
47) Star Trek IV: The Voyage Home
48) Def-Con 4
49) The Wolverine
50) Treasure Planet